button {
	padding: 10px;
	margin: 10px;
	background-color: #f50057;
	font-size: larger;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}
button:hover {
	transition: 0.8s all;
	color: #f50057;
	background-color: white;
	font-weight: bold;
}

p {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}
