.header {
	margin: 20px auto;
	padding: 30px;
}
.btn {
	color: magenta;
	font-weight: bold;
	background-color: black;
	padding: 20px;
	margin: 25px;
	cursor: pointer;
}
.blog {
	background-color: maroon;
	color: white;
	text-align: center;
}
.home {
	background-color: rgb(34, 9, 9);
	color: white;
	text-align: center;
}
.session {
	background-color: green;
	color: white;
	text-align: center;
}
.settings {
	background-color: rgb(82, 27, 82);
	color: white;
	text-align: center;
}
.speakers {
	background-color: blueviolet;
	color: white;
	text-align: center;
}
.conference {
	background-color: rgb(71, 13, 126);
	color: white;
	text-align: center;
}
