.header {
	color: white;
	padding: 40px;
	text-align: center;
	background-color: #f50057;
}
.conference {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto;
}
.conferenceContainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	margin: auto;
}

.conferenceContainer p {
	font-size: 1rem;
	text-align: left;
	margin-left: 50px;
}
@media screen and (max-width: 1024px) {
	.conferenceContainer p {
		margin: auto;
	}
	.conferenceContainer {
		display: block;
	}
}
